$rose-50: #FFF7FB;
$rose-800: #7A284E;

$stone-900: #312E2C;
$stone-600: #5F564D;
$stone-150: #E3DDD7;
$stone-100: #F3E5D7;

$brown-800: #854632;

$white: #FFFFFF;

$text_preset_1: 40px;
$text_preset_2: 28px;
$text_preset_3: 20px;
$text_preset_4: 16px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Young Serif';
  src: url('../assets/fonts/Young_Serif/YoungSerif-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Outfit';
  src: url('../assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('ttf');
}

