@use 'global.scss';

body {
  header {
    img {
      width: 100%;
    }
  }

  main {
    font-family: 'Outfit', sans-serif;
    font-size: global.$text_preset_4;
    line-height: 150%;
    color: global.$stone-600;
    margin: 2.5rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.438rem;
    .separator {
      border: none;
    }
    ul {
       list-style: none;
    }
    .special {
      font-weight: bold;
      margin-right: 0.313rem;
    }
    .time, .ingredients {
      ul {
        li {
          display:flex;
          align-items:center;
        }
        li::before {
          content: "";
          height: 0.313rem;
          width: 0.313rem;
          border-radius: 50%;
          margin-left: 0.5rem;
          margin-right: 2rem;
          background-color: global.$rose-800;
          flex-shrink: 0;
        }
      }
    }
    .ingredients {
      ul {
        li::before {
          background-color: global.$brown-800;
        }
      }
    }

    .description {
      h1 {
        font-family: 'Young Serif', serif;
        font-weight: bold;
        font-size: global.$text_preset_1;
        line-height: 1;
        color: global.$stone-900;
        margin-bottom: 1.5rem;

      }
    }

    .time {
      padding: 1.5rem;
      background-color: global.$rose-50;
      border-radius: 0.75rem;

      h3 {
        font-family: 'Outfit', sans-serif;
        color: global.$rose-800;
        margin-bottom: 1rem;
        font-size: global.$text_preset_3;
      }
    }

    h3 {
      color: global.$brown-800;
      font-size: global.$text_preset_2;
      font-family: 'Young Serif', serif;
      margin-bottom: 1.5rem;
    }

    .instructions {
      ol {
        list-style: none;
        counter-reset: my-awesome-counter;
        li {
          display: flex;
          counter-increment: my-awesome-counter;
        }
        li::before {
          content: counter(my-awesome-counter) ".";
          margin-left: 0.5rem;
          margin-right: 1.25rem;
          color: global.$brown-800;
          font-weight: bold;
        }
      }
    }
    .nutrition {
      p {
        margin-bottom: 1.5rem;
      }
      div {
        display: flex;
        flex-direction: column;

        hr {
          border: solid 1px global.$stone-100;
          margin: 0.75rem 0;
        }

        p {
          margin: 0;
          padding: 0 2rem;
          display: grid;
          grid-template-columns: 1fr 1fr;

          span {
            color: global.$brown-800;
            font-weight: bold;
          }
        }
      }
    }
  }
}

@media (min-width: 48rem){
  body {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 8rem 0;
    background-color: global.$stone-100;
      .container {
        width: 70%;
        background-color: global.$white;
        padding: 2.5rem;
        border-radius: 1.5rem;
        header {
          img {
            border-radius: 0.75rem;
            margin-bottom: 2.5rem;
          }
        }
        main {
          margin: 0;
          .separator {
            border: solid 1px global.$stone-100;
          }
        }
      }
  }
}

@media (min-width: 90rem) {
  body {
    .container {
      width: 60%;
    }
  }
}